{% extends 'layout/autenticado.html.twig' %}
{% block body %}
    <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Registro de usuario
                    </h3>
                </div>
            </div>

            <div class="m-portlet__head-tools">
            </div>
        </div>
        <div class="tab-content">
            {{ include('autor/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('script/entity/autor.js','codice') }}"></script>
    {% if is_granted('ROLE_ADMIN') %}
    <script>
        var currentInstitucion='{{ app.user.institucion.id }}';
    </script>
    {% endif %}
    <script>
            autor.nuevo();
    </script>
{% endblock %}
