{% extends 'layout/autenticado.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-8">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon"><i class="flaticon-list-3"></i></span>
                            <h3 class="m-portlet__head-text">
                                Resultados de la búsqueda
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <!--begin: Datatable -->
                    {% include 'publicacion/search_resulttable.html.twig' %}
                    <!--end: Datatable -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Personas que quizás conozcas
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget4" id="sugerencia_table">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        authenticated.sugerirAutores();
    </script>
{% endblock %}

