<table class="table table-hover m-table m-table--head-separator-brand" id="tipo_software_table">
    <thead>
    <tr>
        <th>
            #
        </th>
        <th>
            Nombre
        </th>
        <th>
            Clasificación
        </th>
        <th>
        </th>
    </tr>
    </thead>
    <tbody>
    {%set i=1%}
    {% for tiposoftware in tipo_softwares %}
        <tr>
            <td>{{ i }}</td>
            <td>{{ tiposoftware.nombre }}</td>
            <td>{{ tiposoftware.clasificacion.nombre }}</td>
            <td>
                <ul class="m-nav m-nav--inline m--pull-right">
                    <li class="m-nav__item">
                        <a class="btn btn-info btn-sm edicion" data-href="{{ path('tipo_software_edit', { 'id': tiposoftware.id }) }}">
                            <i class="flaticon-edit-1"></i> Editar</a>
                    </li>
                </ul>
            </td>
        </tr>
        {%set i=1+i%}
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>
            #
        </th>
        <th>
            Nombre
        </th>
        <th>
            Clasificación
        </th>
        <th>
        </th>
    </tr>
    </tfoot>
</table>
