{% extends 'publicacion/_exportar.html.twig' %}
{% block table_information %}
    <tr>
        <th>Tipo de software</th>
        <td>{{ entidad.tipoSoftware }}</td>
    </tr>
    <tr>
        <th>Número</th>
        <td>{{ entidad.numero }}</td>
    </tr>
    <tr>
        <th><i class="la la-language"></i> Idioma</th>
        <td>
            {% for idioma in entidad.idioma %}
                {{ idioma }}
            {% endfor %}
        </td>
    </tr>
{% endblock table_information %}
